@import "bootstrap/scss/bootstrap";

// Workaround to prevent FOUC (flashing) when color mode is set to "auto" and the system setting is set to prefer dark
// mode. This is essentially a reimplementation of the dark mode rules for Bootstrap in order to get around Bootstrap
// not innately supporting a mix of system and attribute-based dark mode settings.
//
// This is just partial implementation for the rules that are currently in use. When making changes to this project, be
// sure to test the behavior and add rules as needed. Testing can be done by setting the system preferred color theme
// to "dark" and refreshing the page. One can also edit the "data-bs-theme" attribute on the <html> element to "auto"
// in the browser to observe the styling for a longer period of time.
@media (prefers-color-scheme: dark) {
  :root[data-bs-theme="system"] {
    --bs-body-color: #{$body-color-dark};
    --bs-body-bg: #{$body-bg-dark};
    --bs-link-color: #{$link-color-dark};
    --bs-code-color: #{$code-color-dark};
    --bs-link-color-rgb: #{to-rgb($link-color-dark)};
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-emphasis-color: #{$body-emphasis-color-dark};
    --bs-emphasis-color-rgb: #{to-rgb($body-emphasis-color-dark)};
    --bs-border-color: #{$border-color-dark};
  }
}
